<div class="row signin-container">
  <div class="medium-10 columns small-centered">
    <div class="card">
      <div class="content">

        <div class="title text-center">
          Sign Up
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post} ) do |f| %>
          <%= devise_error_messages! %>
          <div class="medium-6 columns large-collapse">
            <div class="text-field-error">
              <%= f.label :first_name, "First Name" %>
              <%= f.text_field :first_name, required: true, autofocus: true %>
            </div>
            <div class="text-field-error">
              <%= f.label :last_name, "Last Name" %>
              <%= f.text_field :last_name, required: true %>
            </div>
            <div class="text-field-error">
              <%= f.label :email %>
              <%= f.email_field :email, required: true %>
            </div>
            <div class="text-field-error">
              <%= f.label :building_id %>
              <%= f.select :building_id, Building.all.map { |b| [b.street, b.id] } %>
            </div>
          </div>

          <div class="medium-6 columns large-collapse">
            <div class="text-field-error">
              <%= f.label :unit, "Apartment Number" %>
              <%= f.text_field :unit %>
            </div>
            <div class="text-field-error">
              <%= f.label :neighborhood_id %>
              <%= f.select :neighborhood_id, Neighborhood.all.map { |n| [n.name, n.id] } %>
            </div>
            <div class="text-field-error">
              <%= f.label :password, "Password (8 characters minimum)" %>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <div class="text-field-error">
              <%= f.label :password_confirmation, "Password Confirmation" %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>

          <div class="medium-12 columns ">
              <br \>
            <%= f.submit "Sign Up", class: "button expand" %>
              <br \>
              <br \>
          </div>

        <% end %>

      </div>
    </div>
    <br />
  </div>
</div>
