<h1>Problems</h1>

<div>
  <% @problems.each do |problem| %>
    <ul>
      <li>Problem: <%= link_to problem.title, problem_path(problem) %></li>
      <li>Category: <%= link_to problem.category.name, category_path(problem.category) %></li>
      <li>Urgency: <%= link_to problem.urgency_level.name, urgency_level_path(problem.urgency_level) %></li>
      <li>Status: <%= link_to problem.status.name, status_path(problem.status) %></li>
      <li>Submitted by <%= link_to problem.user.name, user_path(problem.user) %></li>
      <li>Last updated at <%= problem.updated_at %></li>
    </ul>
  <% end %>
<div>
