<% if user_signed_in? %>
  <div>
    <% if @solution.errors.any? %>
      <div>
        <h2>
          Please fix
          <%= pluralize(@solution.errors.count, "error") %>:
        </h2>
        <p>
          <% @solution.errors.full_messages.each do |msg| %>
            <%= msg %><br>
          <% end %>
        </p>
      </div>
    <% end %>
  <br />
  <br />
  <div class="row">
    <span class="vote left">
      <p>
        Score:
        <span class="vote-score-<%= @problem.id %>">
          <% if ProblemVote.where(problem: @problem).first == nil %>
            0
          <% else %>
            <%= ProblemVote.where(problem: @problem).count %>
          <% end %>
        </span>
      </p>
      <% unless Problem.find_by(id: @problem.id, user: current_user) || @problem.status_id == 2 %>
        <div class="vote-container">
          <% if ProblemVote.where(user: current_user, problem: @problem) == [] %>
            <span class="upvote">
              <%= link_to 'Upvote', 'javascript:void(0)', data: { user_id: current_user.id, problem_id: @problem.id }, class: "upvote-#{@problem.id}" %>
            </span>
          <% elsif ProblemVote.find_by(user: current_user, problem: @problem) != nil %>
            <span class="cancel-vote" >
              <%= link_to 'Cancel vote', 'javascript:void(0)', data: { problem_id: @problem.id, vote_id: ProblemVote.find_by(user: current_user, problem: @problem).id }, class: "cancel-vote-#{@problem.id}" %>
            </span>
          <% end %>
        </div>
      <% end %>
    </span>
    <div class="card">
      <div class="content">
        <span class="title"><%= @problem.title %></span>
        <span class="right">
          <span class="tags radius warning label"><%= @problem.category.name %></span>
          <span class="tags radius alert label"><%= @problem.urgency_level.name %></span>
          <span class="tags radius success label status-label"><%= @problem.status.name %></span>
        </span>
        <p><%= @problem.description %></p>
      </div>
      <div class="action">
        <span class="left">
          Submitted by <%= link_to @problem.user.name, user_path(@problem.user) %>
          <% if current_user == @problem.user %>
            <%= link_to "Edit", edit_user_problem_path(@problem.user, @problem) %> <a href="#" data-reveal-id="deleteModal">Delete</a>
          <% end %>
        </span>
        <span class="right">
          Updated <%= @problem.updated_at.strftime("%B %e, %Y at %l:%M:%S %p") %>
        </span>
      <br />
      </div>
    </div>
    <br />

    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel1a">Submit Solution</a>
        <div id="panel1a" class="content">
          <%= render partial: 'solutions/form' %>
        </div>
      </li>
    </ul>

  <br \>

    <div class="row">
      <div class="medium-12 columns end">
        <% @solutions.each do |solution| %>

        <span class="vote left">
          <p>
            Score:
            <span class="vote-score-<%= solution.id %>">
              <% if SolutionVote.where(solution: solution).first == nil %>
                0
              <% else %>
                <%= SolutionVote.where(solution: solution).sum(:vote) %>
              <% end %>
            </span>
          </p>
          <% unless Solution.find_by(id: solution.id, user: current_user) || solution.problem.status_id == 2 %>
            <div class="solution-vote-container">
              <% if SolutionVote.where(user: current_user, solution: solution) == [] || SolutionVote.find_by(user: current_user, solution: solution, vote: 0) %>
                <span class="solution-vote">
                  <%= link_to 'Upvote Solution', 'javascript:void(0)', data: { user_id: current_user.id, solution_id: solution.id }, class: "solution-upvote upvote-#{solution.id}" %>
                  <%= link_to 'Cancel Solution vote', 'javascript:void(0)', data: { user_id: current_user.id, solution_id: solution.id }, class: "solution-cancel-vote cancel-vote-#{solution.id}", style: "display: none;" %>
                </span>
              <% elsif SolutionVote.find_by(user: current_user, solution: solution, vote: 1) %>
                <span class="solution-vote" >
                  <%= link_to 'Cancel Solution vote', 'javascript:void(0)', data: { user_id: current_user.id, solution_id: solution.id }, class: "solution-cancel-vote cancel-vote-#{solution.id}" %>
                  <%= link_to 'Upvote Solution', 'javascript:void(0)', data: { user_id: current_user.id, solution_id: solution.id }, class: "solution-upvote upvote-#{solution.id}", style: "display: none;" %>
                </span>
              <% end %>
            </div>
          <% end %>
        </span>

        <div class="card">
          <div class="content">
            <span class="title"><%= solution.title %></span>
            <% if solution.accepted == true %>
                <span class="tags radius success label">Accepted</span>
            <% end %>
            <% if solution.accepted == true && current_user == @problem.user %>
              <span class="right">
                <%= form_for [@problem, Solution.find(solution.id)] do |f| %>
                  <%= f.hidden_field :accepted, value: false %>
                    <div>
                      <% prefix = "solution[existing_problem_attributes]" %>
                      <%= fields_for prefix, @problem do |f| %>
                        <%= f.hidden_field :status_id, value: 1 %>
                      <% end %>
                    </div>
                  <%= f.submit "Unaccept Solution", class: "button tiny radius" %>
                <% end %>
              </span>
            <% end %>
            <% if !@problem.solutions.where('accepted = true').any? && current_user == @problem.user %>
              <span class="right">
                <%= form_for [@problem, Solution.find(solution.id)] do |f| %>
                  <%= f.hidden_field :accepted, value: true %>
                    <div>
                      <% prefix = "solution[existing_problem_attributes]" %>
                      <%= fields_for prefix, @problem do |f| %>
                        <%= f.hidden_field :status_id, value: 2 %>
                      <% end %>
                    </div>
                  <%= f.submit "Accept Solution", class: "button tiny radius" %>
                <% end %>
              </span>
            <% end %>
            <p><%= solution.description %></p>
          </div>
          <div class="action">
            <span class="left">
              Submitted by <%= link_to solution.user.name, user_path(solution.user) %>
              <% if current_user == solution.user %>
                <%= link_to "Edit", edit_problem_solution_path(@problem, solution) %> <%= link_to "Delete", problem_solution_path(@problem, solution), method: :delete %></a>
              <% end %>
            </span>
            <span class="right">Created <%= solution.created_at.strftime("%B %e, %Y at %l:%M:%S %p") %></span>
          <br />
          </div>
        </div>
        <br />
        <% end %>
      </div>
    </div>
  </div>
  <div id="deleteModal" class="reveal-modal tiny text-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Are you sure?</h2><br />
    <%= link_to "Cancel", problem_path(@problem), class: "button radius secondary" %>
    <%= link_to "Delete", user_problem_path(@problem.user, @problem), method: :delete, class: "button radius", id: "delete-modal-button" %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
<% end %>
