<div>
  <div class="row">
    <div class="large-12 columns">
      <div>
        <br \>
        <h1 class="text-center"><%= @problem.title %></h1>
        <br \>
      </div>
    </div>
  </div>
  <% if @solution.errors.any? %>
    <div>
      <h2>
        Please fix
        <%= pluralize(@solution.errors.count, "error") %>:
      </h2>
      <p>
        <% @solution.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </p>
    </div>
    <br />
    <br />
  <% end %>
<div class="row">
  <span class="vote left">
    <% if ProblemVote.where(problem: @problem).first == nil || ProblemVote.where(problem: @problem).sum(:vote) == 0 %>
      <% problem_votes = 0 %>
    <% else %>
      <% problem_votes = ProblemVote.where(problem: @problem).sum(:vote) %>
    <% end %>

    <div class="problem-vote-container">
      <% if ProblemVote.where(user: current_user, problem: @problem) == [] || ProblemVote.find_by(user: current_user, problem: @problem, vote: 0) %>
        <span class="problem-vote">
          <%= link_to '+ ' + problem_votes.to_s, 'javascript:void(0)', data: { user_id: current_user.id, problem_id: @problem.id }, class: "problem-upvote upvote-#{@problem.id} button tiny secondary" %>
          <%= link_to '+ ' + problem_votes.to_s, 'javascript:void(0)', data: { user_id: current_user.id, problem_id: @problem.id }, class: "problem-cancel-vote cancel-vote-#{@problem.id} button tiny alert", style: "display: none;" %>
        </span>
      <% elsif ProblemVote.find_by(user: current_user, problem: @problem, vote: 1) %>
        <span class="problem-vote" >
          <%= link_to '+ ' + problem_votes.to_s, 'javascript:void(0)', data: { user_id: current_user.id, problem_id: @problem.id }, class: "problem-cancel-vote cancel-vote-#{@problem.id} button tiny alert" %>
          <%= link_to '+ ' + problem_votes.to_s, 'javascript:void(0)', data: { user_id: current_user.id, problem_id: @problem.id }, class: "problem-upvote upvote-#{@problem.id} button tiny secondary", style: "display: none;" %>
        </span>
      <% end %>
    </div>
  </span>

  <div class="card">
      <% if @problem.photo.present? %>
      <div class="image">
        <%= image_tag("#{@problem.photo}") %>
        <span class="title"><%= @problem.title %></span>
      </div>
      <div class="content">
        <span class="right">
          <span class="tags secondary label"><%= @problem.category.name %></span>
          <% if @problem.status.name == "Open" %>
            <% if @problem.urgency_level_id == 1 %>
              <span class="tags alert label"><%= @problem.urgency_level.name %></span>
            <% elsif @problem.urgency_level_id == 2 %>
              <span class="tags warning label"><%= @problem.urgency_level.name %></span>
            <% elsif @problem.urgency_level_id == 3 %>
              <span class="tags success label"><%= @problem.urgency_level.name %></span>
            <% end %>
          <% end %>
          <% if @problem.status.name == "Solved" %>
          <span class="tags success label status-label"><%= @problem.status.name %></span>
          <% end %>
        </span>
        <p><%= @problem.description %></p>
      </div>
      <% else %>
      <div class="content">
        <span class="title"><%= @problem.title %></span>
        <span class="right">
          <span class="tags secondary label"><%= @problem.category.name %></span>
          <% if @problem.status.name == "Open" %>
            <% if @problem.urgency_level_id == 1 %>
              <span class="tags alert label"><%= @problem.urgency_level.name %></span>
            <% elsif @problem.urgency_level_id == 2 %>
              <span class="tags warning label"><%= @problem.urgency_level.name %></span>
            <% elsif @problem.urgency_level_id == 3 %>
              <span class="tags success label"><%= @problem.urgency_level.name %></span>
            <% end %>
          <% end %>
          <% if @problem.status.name == "Solved" %>
          <span class="tags success label status-label"><%= @problem.status.name %></span>
          <% end %>
          <% if current_user == @problem.user %>
            <%= link_to "Edit", edit_user_problem_path(@problem.user, @problem), class: "button secondary tiny" %><a href="#" data-reveal-id="deleteProblemModal" class="button secondary alert tiny">Delete</a>
          <% end %>
        </span>
          <p><%= @problem.description %></p>
        </div>
      <% end %>
    <div class="action">
      <span class="left">
        Problem submitted by <%= link_to @problem.user.name, user_path(@problem.user) %>
      </span>
      <span class="right">
        Updated <%= @problem.updated_at.strftime("%B %e, %Y at %l:%M:%S %p") %>
      </span>
    <br />
    </div>
  </div>
  <br />

<% if @problem.status_id == 1 %>
  <ul class="accordion small-11 columns text-center submit-solution" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel1a" class="submit-solution-button">Submit Solution</a>
      <div id="panel1a" class="content">
        <%= render partial: 'solutions/form' %>
      </div>
      <br />
    </li>
  </ul>
<% else %>
  <div class="line-break">
  </div>
<% end %>

<br \>
  <div class="row">
    <div class="medium-12 columns end">
      <% if @problem.solutions %>
        <% @solutions.each do |solution| %>
          <span class="vote left">
            <% if SolutionVote.where(solution: solution).first == nil || SolutionVote.where(solution: solution).sum(:vote) == 0 %>
              <% solution_votes = 0 %>
            <% else %>
              <% solution_votes = SolutionVote.where(solution: solution).sum(:vote) %>
            <% end %>

            <div class="solution-vote-container">
              <% if SolutionVote.where(user: current_user, solution: solution) == [] || SolutionVote.find_by(user: current_user, solution: solution, vote: 0) %>
                <span class="solution-vote">
                  <%= link_to '+ ' + solution_votes.to_s, 'javascript:void(0)', data: { user_id: current_user.id, solution_id: solution.id }, class: "solution-upvote upvote-#{solution.id} button tiny secondary" %>
                  <%= link_to '+ ' + solution_votes.to_s, 'javascript:void(0)', data: { user_id: current_user.id, solution_id: solution.id }, class: "solution-cancel-vote cancel-vote-#{solution.id}  button tiny alert", style: "display: none;" %>
                </span>
              <% elsif SolutionVote.find_by(user: current_user, solution: solution, vote: 1) %>
                <span class="solution-vote" >
                  <%= link_to '+ ' + solution_votes.to_s, 'javascript:void(0)', data: { user_id: current_user.id, solution_id: solution.id }, class: "solution-cancel-vote cancel-vote-#{solution.id}  button tiny alert" %>
                  <%= link_to '+ ' + solution_votes.to_s, 'javascript:void(0)', data: { user_id: current_user.id, solution_id: solution.id }, class: "solution-upvote upvote-#{solution.id} button tiny secondary", style: "display: none;" %>
                </span>
              <% end %>
            </div>
          </span>

          <div class="card">
            <div class="content">
              <span class="title">
                <%= solution.title %>
              </span>
              <% if solution.accepted == true %>
                  <span class="tags success label accepted-button">Accepted</span>
              <% end %>
              <% if solution.accepted == true && current_user == @problem.user %>
                <span class="right">
                  <%= form_for [@problem, Solution.find(solution.id)] do |f| %>
                    <%= f.hidden_field :accepted, value: false %>
                      <div>
                        <% prefix = "solution[existing_problem_attributes]" %>
                        <%= fields_for prefix, @problem do |f| %>
                          <%= f.hidden_field :status_id, value: 1 %>
                        <% end %>
                      </div>
                    <%= f.submit "Unaccept Solution", class: "button tiny" %>
                  <% end %>
                </span>
              <% end %>
              <% if !@problem.solutions.where('accepted = true').any? && current_user == @problem.user %>
                <span class="right">
                  <%= form_for [@problem, Solution.find(solution.id)] do |f| %>
                    <%= f.hidden_field :accepted, value: true %>
                      <div>
                        <% prefix = "solution[existing_problem_attributes]" %>
                        <%= fields_for prefix, @problem do |f| %>
                          <%= f.hidden_field :status_id, value: 2 %>
                        <% end %>
                      </div>
                    <%= f.submit "Accept Solution", class: "button tiny" %>
                  <% end %>
                </span>
              <% end %>
              <span class="right">
                <% if current_user == solution.user %>
                  <%= link_to "Edit", edit_problem_solution_path(@problem, solution), class: "button secondary tiny" %><a href="#" data-reveal-id="deleteSolutionModal" class="button secondary alert tiny" id="deletesolution">Delete</a>
                <% end %>
              </span>
              <p><%= solution.description %></p>
            </div>
            <div class="action">
              <span class="left">
                Solution submitted by <%= link_to solution.user.name, user_path(solution.user) %>
              </span>
              <span class="right">Created <%= solution.created_at.strftime("%B %e, %Y at %l:%M:%S %p") %></span>
            <br />
            </div>
          </div>
          <br />
          <div id="deleteSolutionModal" class="reveal-modal tiny text-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <h2 id="modalTitle">Are you sure?</h2><br />
            <%= link_to "Cancel", problem_path(@problem), class: "button secondary" %>
            <%= link_to "Delete", problem_solution_path(@problem, solution), method: :delete, class: "button", id: "delete-modal-button" %>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div id="deleteProblemModal" class="reveal-modal tiny text-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Are you sure?</h2><br />
  <%= link_to "Cancel", problem_path(@problem), class: "button secondary" %>
  <%= link_to "Delete", user_problem_path(@problem.user, @problem), method: :delete, class: "button", id: "delete-modal-button" %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
