<% if user_signed_in? %>
  <div>
    <% if @solution.errors.any? %>
      <div>
        <h2>
          Please fix
          <%= pluralize(@solution.errors.count, "error") %>:
        </h2>
        <p>
          <% @solution.errors.full_messages.each do |msg| %>
            <%= msg %><br>
          <% end %>
        </p>
      </div>
    <% end %>
  <br />
  <br />
  <div class="row">
    <div class="card">
      <div class="content">
        <span class="title"><%= @problem.title %></span>
        <span class="right">
          <span class="tags radius warning label"><%= @problem.category.name %></span>
          <span class="tags radius alert label"><%= @problem.urgency_level.name %></span>
          <span class="tags radius success label"><%= @problem.status.name %></span>
        </span>
        <p><%= @problem.description %></p>
      </div>
      <div class="action">
        <span class="left">
          Submitted by <%= link_to @problem.user.name, user_path(@problem.user) %>
          <% if current_user == @problem.user %>
            <%= link_to "Edit", edit_user_problem_path(@problem.user, @problem) %> <a href="#" data-reveal-id="deleteModal">Delete</a>
          <% end %>
        </span>
        <span class="right">
          Updated <%= @problem.updated_at.strftime("%B %e, %Y at %l:%M:%S %p") %>
        </span>
      <br />
      </div>
    </div>
    <br />

    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel1a">Submit Solution</a>
        <div id="panel1a" class="content">
          <%= render partial: 'solutions/form' %>
        </div>
      </li>
    </ul>

  <br \>

    <div class="row">
      <div class="medium-12 columns end">
        <% @solutions.each do |solution| %>
        <div class="card">
          <div class="content">
            <span class="title"><%= solution.title %></span>
            <% if solution.accepted == true %>
              <span class="right">
                <span class="tags radius success label">Accepted</span>
              </span>
            <% end %>
            <p><%= solution.description %></p>
          </div>
          <div class="action">
            <span class="left">
              Submitted by <%= link_to solution.user.name, user_path(solution.user) %>
              <% if current_user == solution.user %>
                <%= link_to "Edit", edit_problem_solution_path(@problem, solution) %> <%= link_to "Delete", problem_solution_path(@problem, solution), method: :delete %></a>
              <% end %>
            </span>
            <span class="right">Created <%= solution.created_at.strftime("%B %e, %Y at %l:%M:%S %p") %></span>
          <br />
          </div>
        </div>
        <br />
        <% end %>
      </div>
    </div>

  </div>

  <div id="deleteModal" class="reveal-modal tiny text-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Are you sure?</h2><br />
    <%= link_to "Cancel", problem_path(@problem), class: "button radius secondary" %>
    <%= link_to "Delete", user_problem_path(@problem.user, @problem), method: :delete, class: "button radius", id: "delete-modal-button" %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

<% end %>
