<br />
<br />
<div class="row">
    <div class="card">
      <div class="content">
        <span class="title"><%= @problem.title %></span>
        <span class="right">
          <span class="tags radius warning label"><%= @problem.category.name %></span>
          <span class="tags radius alert label"><%= @problem.urgency_level.name %></span>
          <span class="tags radius success label"><%= @problem.status.name %></span>
        </span>
        <p><%= @problem.description %></p>
      </div>
      <div class="action">
        <span class="left">
          <% if current_user == @problem.user %>
            Submitted by <%= link_to "you", user_path(@problem.user) %> <%= link_to "Edit", edit_user_problem_path(@problem.user, @problem) %> <%= link_to "Delete", user_problem_path(@problem.user, @problem), method: :delete %>
          <% else %>
            Submitted by <%= link_to @problem.user.name, user_path(@problem.user) %>
          <% end %>
        </span>
        <span class="right">
          Last updated at <%= @problem.updated_at.to_formatted_s(:long_ordinal) %>
        </span>
      <br />
      </div>
    </div>
    <br />
  </div>
</div>
